@mixin FlexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

// 禁止折行
@mixin no-wrap() {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

// 扩展小图标按钮的点击区域
@mixin extend-click() {
  position: relative;
  &:before {
    content: "";
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
  }
}
